// Variables

// Sizes

$content: 1200px;
$halfcontent: $content/2;
$quartercontent: $content/4;
$headerHeight: 150px;

// Colours

$white: #fff;
$grey: #CCD;
$darkGrey: #889;
$black: #193441;
$lightGreen: #D1DBBD;
$mediumGreen: #91AA9D;
$mediumBlue: #3E606F;
$darkBlue: #193441;